// появление меню
.menu-enter-active, .menu-leave-active {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.menu-enter, .menu-leave-to {
    transform: translateX(100%);
}
// появление справа налево
.right-enter-active, .right-leave-active {
    position: static;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
}
.right-enter, .right-leave-to {
    transform: translateX(40px);
    opacity: 0;
}
// появление из невидимости
.fade-enter-active, .fade-leave-active {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}